@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
:root{
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

/* ### Neutral */

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

/* ## Gradients  (background)  (circle)*/ 

    --light-slate-blue: hsl(252, 100%, 67%);  
    --light-royal-blue : hsl(241, 81%, 54%);

    --violet-blue : hsla(256, 72%, 46%, 1);
    --persian-blue : hsla(241, 72%, 46%, 0);

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    /* height: 100vh; */
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 180px auto;
}

.component-window{
    width: 700px;
    height: 500px ;
    background-color: var(--pale-blue);
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    border-radius: 19px;
    overflow: hidden;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.3);
}

.result{
    height: 500px;
    width: 350px;
    background: linear-gradient(hsl(252, 100%, 67%),
    hsl(241, 81%, 54%));
    color: var(--white);
    text-align: center;

    padding: 0px 40px;
    border-radius: 19px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.result-header{
    font-weight: 500;
    color: var(--light-lavender);
}
.result-circle{
    font-weight: 800;

    background-color: var(--violet-blue);
    background: linear-gradient(hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 170px;
    height: 170px;
    text-align: center;
    margin: 0 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.final-result-header{
    font-size: 3em;
}

.final-result-text{
    color: var(--light-lavender);
}

.result-discription{
    font-weight: 500;
    font-size: 16px;
    color: var(--light-lavender);
    letter-spacing: .07rem;

}
.summary{
    height: 500px;
    width: 350px;

    background-color: var(--pale-blue);
    
    padding: 25px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}



.result-item{
    background-color: var(--white);
    border-radius: 8px;
    padding: 15px;

    display: flex;
    justify-content: space-around;
}
.highlight-result{
    font-weight: 700;
    color: var(--dark-gray-blue);


    padding-left: 70px;
}


.reaction-item{
    color: var(--light-red);
    background-color: hsla(0, 100%, 67%, 0.1);
}

.memory-item{
    color: var(--orangey-yellow);
    background-color: hsla(39, 100%, 56%, 0.1);
}

.verbal-item{
    color: var(--green-teal);
    background-color: hsla(166, 100%, 37%, 0.1);
}

.visual-item{
    color: var(--cobalt-blue);
    background-color: hsla(234, 85%, 45%, 0.1);
}
.highlight-result-out-of{
    color: rgba(0, 0, 0, 0.482);
    /* font-size: 18px; */
    
}
.continue-btn{
    padding: 15px 0;
    border-radius: 20px;
    border: none;
    color: var(--white);
    background-color: var(--dark-gray-blue);
    cursor: pointer;
}
.continue-btn:hover,
:focus {
    background: linear-gradient(hsl(252, 100%, 67%),
            hsl(241, 81%, 54%));
    border: none;
}

@media (max-width: 750px) {
    body {
        height: 100%;
    }

    .component-window {
        box-shadow: none;
    }

    .results {
        height: 450px;
    }
}